/* NavBar styles */
.navbar {
  background-color: #f4f4f4;  /* Light background for a clear separation */
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: blue;
  text-decoration: underline;
}

#department {
  font-size: 20px;
  color: green;
}

.welcome-message {
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 20px; /* Makes sure there’s space for the footer */
}
